@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #ffeeff;
    --bg-color2: #7bf7f0;
    --bg-line: #6adcff;
    --text-color: #ffffff;
    --color-icon: rgb(165, 165, 165);
    --bg-navMenu: #89aeffd9;
    --color-black: #000000;
    --color-green: #3bff77c9;
    --color-odd: #3360bb;
    --color-even: #868c9b;
    --color-th: #738abe;
}

body {
    font-family: "Roboto", sans-serif;
    /* user-select: none; */
    overflow: hidden;
}

a,
button {
    cursor: pointer;
    text-decoration: none;
    align-items: center;
}

.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
}

.name {
    font-family: "Lobster", cursive;
    font-weight: 600;
    animation: color 1.2s linear infinite;
}

@keyframes color {
    0% {
        text-shadow: 0 0 10px rgb(217, 255, 0), 0 0 15px rgb(28, 54, 4), 0 0 20px rgb(26, 69, 211);
    }
    50% {
        text-shadow: 0 0 10px rgb(178, 206, 182), 0 0 15px rgb(148, 148, 148), 0 0 20px rgb(13, 204, 29);
    }
    100% {
        text-shadow: 0 0 20px rgb(255, 255, 255);
    }
}

.menu1 ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.listMenu {
    gap: 20px;
}

.listMenu li {
    line-height: 50px;
    position: relative;
}

li a {
    display: flex;
    font-weight: 500;
}

.listMenu li a {
    display: flex;
    gap: 10px;
    font-weight: 500;
    text-shadow: 2px 3px 5px black;
    color: var(--text-color);
}

.listMenu li::before {
    transition: all 0.3s linear;
    content: "";
    width: 0%;
    position: absolute;
    height: 4px;
    bottom: 0;
    border-radius: 5px;
    background-color: var(--bg-line);
}

.listMenu li:hover::before {
    width: 100%;
}

.icon {
    color: var(--color-icon);
    align-items: center;
}


/* =========================================================== */

.nav-menu {
    background-color: var(--bg-navMenu);
    height: 50px;
    position: relative;
    justify-content: space-between;
    padding: 0 50px;
}

.menu2 {
    display: flex;
    justify-content: space-between;
}

.menu2-ul {
    display: flex;
    height: 50px;
}


/* ------------------------------------------------------ */

.contain_body {
    background-color: var(--bg-color);
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}

.contain_left .title {
    padding: 5px 10px;
    background: var(--bg-navMenu);
    transform: translate(-25px, 0px);
    border-radius: 5px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: underline;
    width: 210px;
}

.search {
    width: 100%;
    padding: 5px 10px;
    margin: 15px 0;
    border-radius: 5px;
    border: 1px soild var(--color-black);
    border: none;
    border: 2px solid #707091;
}

.grid {
    display: inline-grid;
}

.list__check {
    margin: 15px 0;
}

.list__check li {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 7px;
}

.header_menu3 {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--bg-color2); */
}

.marq img {
    object-fit: cover;
    width: 300px;
}

.header_menu3 h3 {
    width: 20%;
}

.header_menu3 ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_menu3 ul li {
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    background: var(--color-green);
    color: var(--text-color);
    font-weight: 600;
}


/*         ---------------------------------------              */

.form {
    margin-top: 20px;
}

.container2 {
    text-align: left;
    overflow: hidden;
    width: 100%;
    display: table;
    /* padding: 0 0 8em 0; */
}

.container2 td,
.container2 th {
    padding: 10px;
    align-items: center;
    text-align: center;
}

.container2 tr:nth-child(odd) {
    background-color: var(--color-odd);
}

.container2 tr:nth-child(even) {
    background-color: var(--color-even);
}

.container2 th {
    background-color: var(--color-th);
    width: 16px;
}

@media (max-width: 800px) {
    .container2 td:nth-child(4),
    .container2 th:nth-child(4) {
        display: none;
    }
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px var(--bg-color2) inset;
}

.function {
    gap: 10px;
}

.function ion-icon {
    border-radius: 3px;
    border: none;
    color: var(--text-color);
}


/* ----------------------------- */

.container {
    position: fixed;
    background-color: var(--text-color);
    box-shadow: 0 0 6px var(--color-black);
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    left: 50%;
    z-index: 100;
    top: 100px;
    transform: translateX(-50%);
    display: none;
}

.clear,
.clear1 {
    position: absolute;
    top: -84px;
    right: -25px;
}

.clear ion-icon,
.clear1 ion-icon {
    padding: 5px;
    background-color: var(--text-color);
    box-shadow: 0 0 3px var(--color-black);
    border-radius: 50%;
}

.container.create {
    display: block;
}

.box {
    position: relative;
}

#courses-list li {
    width: 100%;
    padding: 10px;
    display: flex;
}

#boxcontainer {
    text-align: center;
    font-size: 25px;
    background-image: linear-gradient( to right, black, rgb(241, 14, 52), rgb(34, 19, 238), rgb(196, 250, 1), white);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 30px;
}

.input {
    margin-left: 7px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid var(--bg-line);
    transition: all 0.2s linear;
}

.sub_form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 7px;
}

.sub_form label {
    margin-bottom: 10px;
    width: 35%;
}

.select {
    width: 75%;
    border: none;
    border: 1px solid pink;
    border-radius: 3px;
    padding: 5px 0;
}

.select:focus {
    border: 1px solid pink;
    outline: none;
}

.box_search {
    display: flex;
    align-items: center;
    gap: 5px;
}

.up {
    height: 28px;
    align-items: center;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: white;
}